@charset "UTF-8";[v-cloak] {
    display: none
}
* {
    margin: 0;
    padding: 0
}

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

a {
    text-decoration: none;
    color: #333
}

body {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    font-family: Arial,Microsoft Yahei
}

ul li {
    list-style: none
}

button,img,input,select,textarea {
    border: 0;
    outline: none
}

input[type=range] {
    outline: none;
    -webkit-appearance: none;
    background: -webkit-linear-gradient(#61bd12,#61bd12) no-repeat,#fff;
    background-size: 0 100%;
    height: 3px
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: #61bd12;
    border-radius: 50%;
    border: 1px solid #fff
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(../images/bg_7c8cd3ef.jpg) no-repeat 50%;
    background-size: cover;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    -webkit-transform: rotate(-90deg) scale(2);
    transform: rotate(-90deg) scale(2)
}
.help {
    position: absolute;
    top: 2%;
    right: 2%
}
.help .icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("../images/help.png") no-repeat 50%;background-size: 100%;
    cursor: pointer
}
.help .popop {
    opacity: 0;
    visibility: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1000;
    background-color: rgba(0,0,0,.8);
    -webkit-transition: all .3s;
    transition: all .3s
}

.help .popop.show {
    opacity: 1;
    visibility: visible
}

.help .popop.show .box {
    -webkit-transition: all .4s cubic-bezier(.43,2.18,.65,.5);
    transition: all .4s cubic-bezier(.43,2.18,.65,.5);
    -webkit-transform: scale(1);
    transform: scale(1)
}

.help .popop .box {
    position: relative;
    width: 80%;
    max-width: 420px;
    margin: auto;
    padding: 30px 0;
    border-radius: 10px;
    background-color: #fff;
    -webkit-transform: scale(.2);
    transform: scale(.2)
}

.help .popop .box .close {
    position: absolute;
    top: 6px;
    right: 10px;
    color: #333;
    cursor: pointer
}

.help .popop .box h2 {
    padding-bottom: 20px;
    font-size: 20px;
    color: #333;
    text-align: center
}

.help .popop .box .content {
    padding: 0 6%
}

.help .popop .box .content li {
    padding-bottom: 8px;
    line-height: 1.5;
    font-size: 14px;
    color: #666
}

.help .popop .box .content li span {
    font-weight: 700
}

.title {
    padding: 6% 0;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 8px rgba(0,0,0,.3)
}

.music-box ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto
}

.music-box li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    margin: 0 1px;
    color: #000;
    font-size: 14px;
    cursor: pointer
}

.music-box li span {
    display: block;
    height: 200px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3),inset 0 -3px 5px rgba(0,0,0,.1);
    box-shadow: 0 3px 5px rgba(0,0,0,.3),inset 0 -3px 5px rgba(0,0,0,.1)
}

.music-box li.cur span {
    background-color: #f1f1f1;
    -webkit-box-shadow: inset 0 -3px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -3px 5px rgba(0,0,0,.1)
}

.music-box li i {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-style: normal
}

.music-box li i.high:before,.music-box li i.low:before {
    content: "\B7";
    position: absolute;
    left: 0;
    width: 100%
}

.music-box li i.low:before {
    bottom: -10px
}

.music-box li i.high:before {
    top: -10px
}

.chord {
    display: none
}

.form {
    width: 96%;
    margin: 20px auto
}

.form-grp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0
}

.form-grp label {
    min-width: 56px;
    padding-right: 5px;
    text-shadow: 1px 1px 8px rgba(0,0,0,.3)
}

.form-grp .type {
    display: inline-block;
    padding-right: 20px
}

.form-grp .type input {
    margin-right: 5px
}

.form-grp.align-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

#music-text {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100px;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    background-color: #fff
}

.music-name {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.music-name .btn {
    position: relative;
    display: inline-block;
    margin: 0 8px 4px 0;
    border-radius: 4px;
    color: #333;
    line-height: 30px;
    font-size: 14px;
    background-color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer
}

.music-name .btn:hover {
    background-color: #eee
}

.music-name .btn span {
    display: block;
    padding: 0 10px
}

.music-name .btn .close {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
    text-align: center;
    line-height: 10px;
    font-size: 8px;
    color: #333;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333
}

#speed {
    width: 120px;
    height: 4px;
    border-radius: 2px
}

#speed-value {
    padding: 0 10px
}

#speed,#speed-value,.unit {
    vertical-align: middle;
    text-shadow: 1px 1px 8px rgba(0,0,0,.3)
}

@media screen and (max-width:414px) {
    .title {
        font-size: 0
    }

    .music-box li span {
        height: 30vw
    }
}